/* Общий фон страницы */
body {
    background-color: #161e31;
    font-family: 'Raleway', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
}

/* Центрирование формы */
.form-signin {
    max-width: 400px;
    padding: 30px;
    margin: auto;
    background: #2d3250;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.4);
    color: white;
    justify-content: center;
    align-items: center;

}

/* Заголовок */
.form-signin h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

/* Input поля */
.form-floating {
    margin-bottom: 15px;
}

.form-control {
    background: #1e2238;
    border: none;
    color: white;
    border-radius: 10px;
}

.form-control:focus {
    background: #1e2238;
    color: white;
    box-shadow: 0 0 10px rgba(144, 157, 223, 0.5);
}

/* label */
.form-floating label {
    color: #aaa;
}

/* checkbox */
.form-check {
    color: #ccc;
}

/* кнопка */
.btn-primary {
    background: #6c7ae0;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #5561c7;
}

/* логотип */
.form-signin img {
    display: block;
    margin: 0 auto 20px auto;
}

/* текст снизу */
.text-body-secondary {
    text-align: center;
    color: #888 !important;
    margin-top: 20px;
}
.logo {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}